In [1]:
# Import Libraries aka Dependencies 
import pandas as pd
import numpy as np

In [2]:
# Create a reference to the CSV file desired
students = "students_complete.csv"

# Read the CSV into Pandas DataFrame
students_df = pd.read_csv(students)

# Pring the first 5 rows of the data to the screen
students_df.head()

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [3]:
# Create a reference to the CSV; Mapping let's you format an entire DataFrame
schools = "schools_complete.csv"

#Read the CSV into Pandas DataFrame
schools_df = pd.read_csv(schools)

#Pring the first 5 rows of the data to the screen
schools_df.head()

   School ID                   name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [36]:
# Find a common column of the 2 CSV's and filter using groupby
# First, need to rename 'name' in Schools_complete.csv to 'school'
# Rename columns so that they are differentiated
schools_df = schools_df.rename(columns={"name":"school"})

# Print the first 5 rows of data to the screen
schools_df.head()

   School ID                 school      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [297]:
# Merging Tables - students info
students_pd = pd.DataFrame(students_df, columns=["school", "Student ID", "name", "gender",
                                                     "grade", "reading_score", 
                                                     "math_score"])
students_pd.head(5)

,school,Student ID,name,gender,grade,reading_score,math_score
0,Huang High School,0,Paul Bradley,M,9th,66,79
1,Huang High School,1,Victor Smith,M,12th,94,61
2,Huang High School,2,Kevin Rodriguez,M,12th,90,60
3,Huang High School,3,Dr. Richard Scott,M,12th,67,58
4,Huang High School,4,Bonnie Ray,F,9th,97,84

In [318]:
# Merging Tables - schools info
schools_pd = pd.DataFrame(schools_df, columns=["school","School ID", "type", "size",
                                                   "budget"])
schools_pd.head()

                  school  School ID      type  size   budget
0      Huang High School          0  District  2917  1910635
1   Figueroa High School          1  District  2949  1884411
2    Shelton High School          2   Charter  1761  1056600
3  Hernandez High School          3  District  4635  3022020
4    Griffin High School          4   Charter  1468   917500

In [381]:
# Merge two dataframes using an outer join
Students_and_Schools = pd.merge(students_pd, schools_pd, on="school", how="outer")
Students_and_Schools.head()

,school,Student ID,name,gender,grade,reading_score,math_score,School ID,type,size,budget
0,Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
1,Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
2,Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
3,Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
4,Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635

In [327]:
# Find Total Schools
Total_Schools = len(schools_df)
Total_Schools

15

In [325]:
# Find Total Students
Total_Students = len(students_df)
Total_Students

39170

In [301]:
# Find Total Budget
Budget_Total = schools_df["budget"].sum()
Budget_Total
# Total Budget is 24649428

24649428

In [302]:
# Find Average Math Score
Avg_Math_Score = students_df["math_score"].sum()/District_Total_Students
Avg_Math_Score
# Average Math Score is 78.99

78.98537145774827

In [303]:
# Find Average Reading Score
Avg_Read_Score = students_df["reading_score"].sum()/District_Total_Students 
Avg_Read_Score
# Average Reading Score is 81.88

81.87784018381414

In [305]:
# counting how many students passed math, where the score of >70 is passing

passing_math = students_df[students_df.math_score>70]
passing_math_result = (len(passing_math))
passing_math_result

28356

In [306]:
# percent passing math

Percent_Passing_Math = round(passing_math_result) / (District_Total_Students) * 100
Percent_Passing_Math

72.39213683941792

In [307]:
# counting how many students passed reading, where the score of >70 is passing

passing_reading = students_df[students_df.reading_score>70]
passing_reading_result = (len(passing_reading))
print (passing_reading_result)

32500

In [308]:
# percent passing reading

Percent_Passing_Reading = (passing_reading_result) / (District_Total_Students) * 100
Percent_Passing_Reading

82.97166198621395

In [311]:
# Overall Passing Rate (Average of the above two)
Overall_Passing_Rate = ((Percent_Passing_Math) + (Percent_Passing_Reading))/2
Overall_Passing_Rate

77.68189941281594

In [328]:
#District Summary Table

District_Summary_Table_df = pd.DataFrame({"Total Schools":[Total_Schools],
                                         "Total Students":[Total_Students],
                                          "Total Budget":[Budget_Total],
                                          "Average Math Score":[Avg_Math_Score],
                                          "Average Reading Score":[Avg_Read_Score],
                                          "% Passing Math":[Percent_Passing_Math],
                                          "% Passing Reading":[Percent_Passing_Reading],
                                          "Overall Passing Rate":[((Percent_Passing_Math) + (Percent_Passing_Reading))/2]
                                         
                                         })
                                         
District_Summary_Table_df

#Create a high level snapshot (in table form) of the district's key metrics, including:
#Total Schools
#Total Students
#Total Budget
#Average Math Score
#Average Reading Score
#% Passing Math
#% Passing Reading
#Overall Passing Rate (Average of the above two)

,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Overall Passing Rate,Total Budget,Total Schools,Total Students
0,72.392137,82.971662,78.985371,81.87784,77.681899,24649428,15,39170

In [386]:
# School Name
School_Name = schools_df["school"]

# School Type
School_Type = schools_df["type"]

# Total Students
Total_Students = len(students_df)

# Total School Budget 
Budget_Total = schools_df["budget"].sum()

# Per Student Budget
Per_Student_Budget = Total_School_Budget/Total_Students

# Average Math Score
Avg_Math_Score = students_df["math_score"].sum()/District_Total_Students

# Average Reading Score
Avg_Read_Score = students_df["reading_score"].sum()/District_Total_Students 

# % Passing Math
Percent_Passing_Math = round(passing_math_result) / (District_Total_Students) * 100
Percent_Passing_Math

# % Passing Reading
Percent_Passing_Reading = (passing_reading_result) / (District_Total_Students) * 100

# Overall Passing Rate
Overall_Passing_Rate = ((Percent_Passing_Math) + (Percent_Passing_Reading))/2

In [358]:
Students_and_Schools.groupby('school')

school
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [385]:
# School Summary

    #Create an overview table that summarizes key metrics about each school, including:
    #School Name
    #School Type
    #Total Students
    #Total School Budget
    #Per Student Budget
    #Average Math Score
    #Average Reading Score
    #% Passing Math
    #% Passing Reading
    #Overall Passing Rate (Average of the above two)
    
    
    
# Creating a table with lists of dictionaries. First Set columns headers

school_summary_df = pd.DataFrame({"School Name": School_Name, 
                                  "School Type": School_Type, 
                                  "Total Students": Total_Students,
                                "Total School Budget":Budget_Total, 
                                  "Per Student Budget":Per_Student_Budget,
                                  "Average Math Score":Avg_Math_Score, 
                                  "Average Reading Score":Avg_Read_Score,
                                  "% Passing Math":Percent_Passing_Math, 
                                  "% Passing Reading":Percent_Passing_Reading, 
                                  "Overall Passing Rate":Overall_Passing_Rate
                                 })


# Creating a table using GroupBy in order to separate the data into fields according to "school" values
grouped_schools_df = pd.DataFrame(Students_and_Schools.groupby("school"))

print(grouped_schools_df)

# The object returned is a "GroupBy" object and cannot be viewed normally...
grouped_schools_df.head()
# 

# In order to be visualized, a data function must be used...
grouped_schools_df.count()


# School Name

ValueError: DataFrame constructor not properly called!